
  li {
    height: auto;
    width: 24vw;
  }
  img {
    width: 100%;
    min-width: 0;
  }

}
}

* {box-sizing: border-box;}
body {
  font: normal 100% Helvetica, Arial, sans-serif;
    line-height: 1;
    text-align: center;
    background-color: #F132;
}

h1 {
  font-family: Georgia, serif;
    font-size: 1.5em;

}
ul {
  display: grid;
  grid-gap: 15px;
  grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
  }

li {
  height: 40vh;
  list-style-type: none;
}

img {
  max-height: 100%;
  min-width: 100%;
  object-fit: cover;
  vertical-align: center;
}
