

@media (max-aspect-ratio: 1/1) and (max-width: 1080px) {
  ul {
    display: flex;
    flex-flow:  wrap;
  }

  li {
    height: auto;
    width: 24vw;
  }
  img {
    width: 100%;
    min-width: 0;
  }
.gallery:nth-child(3n+1) { order: 1; }
.gallery:nth-child(3n+2) { order: 2; }
.gallery:nth-child(3n)   { order: 3; }
}

* {box-sizing: border-box;}
body {
  font: normal 100% Helvetica, Arial, sans-serif;
    line-height: 1;
    text-align: center;
    background-color: #F132;
}

h1 {
  font-family: Georgia, serif;
    font-size: 1.5em;

}
ul {
  display: flex;
  flex-wrap: wrap;
  }

li {
  height: 40vh;
  flex-grow: 1;
  list-style-type: none;
}
li:last-child {
  // There's no science in using "10" here. In all my testing, this delivered the best results.
  flex-grow: 10;
}

img {
  max-height: 100%;
  min-width: 100%;
  object-fit: cover;
  vertical-align: center;
}
