:root{
  --color1: #05b1b1;
  --color2: #52339a;
}
header,footer,section {
  padding: 100px 0;
}
header,footer{
background:  var(--color1);
background: -moz-linear-gradient(left,  var(--color1) 0%, var(--color2) 48%);
background: -webkit-linear-gradient(left,  var(--color1) 0%,var(--color2) 48%);
background: linear-gradient(to right,  var(--color1) 0%,var(--color2) 48%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=var(--color1), endColorstr=var(--color1),GradientType=1 );

}
img{
  max-width: 400px;
}
.col{
  padding-left: 0px;
}
body{
  background-color: black;
}
