body {
  min-height: 100%;
}
  html,body,div{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 0;
    font: inherit;
    vertical-align: baseline;
  text-align: center;}

canvas { background: #eee;
         border: 1px solid black;
         position: relative;
         left: 50%;
         transform: translate(-50%, 0);
         display: block;
          };
